* { /* Whole page styling */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body {
    background-color: #d9dcd6; /* light Grey */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;/* Dark Turquoise */
    color: #ffffff; /* white */
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo { /* Logo */
    color: #d9dcd6; /* Ivory */
}
  .header nav { /* Navigation Bar*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff; /* White*/
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero { /* landing page image */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("digital-marketing-meeting.jpg");
    background-color: #cccccc; /* use if image is unavailable */;
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;   
}

.float-right {
    float: right;
    margin-left: 25px; 
}

.content { /* Main content box*/
    width: 75%;
    display: inline-block;
    margin-left: 20px;

}
.service-offerings{
  
    margin-bottom: 73px;
    padding: 50px;
    height: 300px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-color: #0072bb;
    color: #ffffff;
    clear: both;
}

.service-offerings img {
    max-height: 200px;
}

.service-offerings h2 {
    margin-bottom: 20px;
    font-size: 36px;
   
}

.benefits {
    margin-right: 20px;
    margin-bottom: 32px;
    padding: 30px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%; 
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    background-color: #2589bd; /* Light Blue */
    color: #ffffff; /* White */
    clear: left;
}

.benefit-elements {
    margin-bottom: 32px;
    
}

.benefits-h3 {
    margin-bottom: 10px;
    text-align: center;
   
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    text-align: center;
   
}

.footer h2 {
    font-size: 20px;
}

